---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ page.title }}</h2>
              <p class="item-intro text-muted">{{ page.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ page.image }}"
                alt="{{ page.alt }}"
              />
            </div>
          </div>


{{ content }}
</div>
